/*
  Table of Contents
  1. Base Styles
  2. Game Menu
  3. Board
  4. Footer
*/

/* -----------------------
  1. Base Styles
------------------------ */
:root {
  --purple: #69585F;
  --lightpurple: #C3979F;
  --green: #B8D8BA;
  --seafoam: #78FFD6;
  --lightgreen: #D9DBBC;
  --lightcyan: #E1FAF9;
  --cream: #FCDDBC;
  --lightblue: #0AD3FF;
  --blue: #08386D;
  --darkblue: #1C3144;
  --red: #C05746;
  --board_border: 10px solid var(--lightgreen);
}
title, script {
  display: none;
}

* {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h4 {
  margin: 0;
}
/* -----------------------
  2. Game Menu
------------------------ */
aside {
  width: 100%;
  height: 20%;
  background: var(--lightcyan);
  box-shadow: 0 5px 5px var(--darkblue);

}

.player-container {
  width: 50vw;
  height: 7vh;
  justify-content: space-between;
  color: var(--lightcyan);
  font-size: 1.5rem;
}

.player {
  width: 45%;
  height: 100%;
  background: var(--red);
  justify-content: space-between;
  box-shadow: 0 0 10px #888888;
  padding: 0 3%;
}

.active {
  border-bottom: 4px solid var(--darkblue);
}

.player img {
  width: auto;
  height: 55%;
}

/* -----------------------
  3. Board
------------------------ */
main {
  width: 100%;
  height: 70%;
  background: var(--lightpurple);
}

main section {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: relative;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 30vw;
  opacity: 1;
  transition: opacity 3000ms linear;
}
.hide {
  opacity: 0;
}
.show_winner {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: transform 500ms, opacity 500ms linear;
  position: absolute;
}

.show_winner p {
  margin: 0;
  font-size: 2rem;
  color: var(--blue);
}

.show {
  opacity: 1;
  transform: scale(1.5);
}

.square {
  width: 10vw;
  height: 10vw;
}
.square:nth-child(3n+0) {
  border-left: 10px solid var(--purple);
}

.square:nth-child(3n -2) {
  border-right: 10px solid var(--purple);
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-bottom: 10px solid var(--purple);
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-top: 10px solid var(--purple);
}

.square svg {
  width: 85%;
  height: auto;
}

.animate line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 300ms linear forwards;
}

.line1 {

}

.animate .line2 {
  animation-delay: 100ms;
}

.animate circle {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 300ms linear forwards;
  transform-origin: center;
  transform: rotate(-30deg);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.red {
}

.blue{
}

/* -----------------------
  4. Footer
------------------------ */
.restart {
  width: 100%;
  height: 10%;
  background: var(--lightcyan);
  color: var(--lightpurple);
  font: 24px helvetica;
  box-shadow: 0 0 5px var(--darkblue);

}

.restart:hover {
  background: var(--purple);
  color: var(--lightcyan);
}
